{% load static %}
<footer class="pt-5 pb-4 text-white">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left">
      <div class="col-md-6 col-lg-4 mx-auto mt-3">
        <h5 class="mb-4 footer-name text-danger text-uppercase font-weight-bold">
          The Logical Order
        </h5>
        <p class="text-start">
          A team of two hardworking and ambitious developers who would like to
          change the world.
        </p>
      </div>

      <div class="col-md-6 col-lg-4 mx-auto mt-3 flex-column">
        <h5 class="mb-4 text-danger footer-name text-uppercase font-weight-bold d-none d-md-block">
          Links
        </h5>
        <div class="d-md-block d-flex flex-center flex-row text-danger">
          <p>
            <a href="/" class="nav-link red">Home</a>
          </p>
          <p>
            <a href="/scan" class="nav-link red">Scan</a>
          </p>
          <p>
            <a href="/about_us" class="nav-link red">About Us</a>
          </p>
        </div>
      </div>
      <div class="col-lg-4 mx-auto mt-3">
        <h5 class="text-danger mt-5 mb-4 footer-name font-weight-bold">
          Copyright &#169; All Rights Reserved: The Logical Order
        </h5>
      </div>
    </div>
  </div>
</footer>

<style>
  footer {
    background: #091444;
  }
</style>