{% extends 'main.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<div class="m-20 main">
  {% for report in cancer_reports %}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{report.result}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{report.date}}</h6>
    </div>
  </div>
  {% endfor %}
</div>
<div class="m-20 main">
  {% for report in eye_reports %}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{report.result}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{report.date}}</h6>
    </div>
  </div>
  {% endfor %}
</div>
<div class="m-20 main">
  {% for report in heart_reports %}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{report.result}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{report.date}}</h6>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}